 body {
            background-color: black;
            height: 90%;
            margin: 0;
        }

        h1 {
            color: gray;
        }
        img{
            background-repeat: no-repeat;
            position: absolute;
            border-radius: 20px;
            transform: rotate(-10deg);
            border: 1px solid black;
            width: 10%;
            display: flex;
            top:10%;
        }

        .maindiv {
            background-color: white;
            color: black;
            width: 300px;
            padding: 20px;
            justify-self: center;
            margin-top: 13%;
            align-items: center;
            border-radius: 25px;
            text-align: center;

        }
        input{
            margin-top: 10px;
            border: 1px solid black;
            padding: 3px;
            border-radius: 5px;
        }
        span{
            margin-top: 10px;
        }
        #btn{
            color: darkcyan;
            border: none;
            border-radius: 10px;
            padding: 10px;
            margin-top: 5px;
        }
        footer{
            position: absolute;
            margin-top: 16%;
           
            width: 100%;
            background-color: aliceblue;
        }
        footer> h1{
            font-size: medium;
            margin-left: 40%;
            height: 20px;
            width: auto;
            align-items: end;
        }